/* Write your CSS here */
.cart-summary-container {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.CartSummaryContainer {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .CartSummaryContainer {
    width: 20%;
  }
}
.order-total {
  font-family: 'Roboto';
  font-size: 18px;
  color: #616e7c;
}
.span-style {
  color: #171f46;
  font-weight: bold;
}

.items-count {
  font-family: 'Roboto';
  font-size: 15px;
  color: #616e7c;
}
.checkout-button {
  width: 100%;
  height: 30px;
  background-color: #0b69ff;
  border: none;
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  border-radius: 5px;
}
